<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar Vehículos Eléctricos</title>
</head>
<body>
    <h1>Filtrar Vehículos Eléctricos</h1>
    <form action="/filter" method="get">
        
   
        <label for="type_filter">Año del Modelo:</label>
        <select id="type_filter" name="type_filter">
            <option value="">Todos</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select>
        <br>
        <button type="submit">Filtrar</button>
    </form>
</body>
</html>